@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: "Quicksand";
  color: white;
}

*:focus {
  outline: none;
}

body{
  margin:0;
  padding:0;
  height: 100%;
  width: 100%;
  /*background-color: #ec4b01;*/
  background-image: linear-gradient(rgb(24, 21, 21),#ec4b01);
}

span{
  padding-left: 1em;
  font-size: 1.2em;
}

#root{
  align-items: center;
  justify-content: center;
}

/*1st level -> Main content object (upper root)*/
.content{
  display: flex;
  flex-direction: column;
  padding-top: 0.5em;
}

/*2nd level -> Main content items (upper .content)*/
.content__cv-recursive-ladder{
  flex:1;
  margin-top: 2em;
  margin-right: 2em;
  margin-left: 2em;
  padding-top: 2em;
  padding-right: 2em;
  padding-left: 2em;
}

.content__techonologies-visualization{
  flex:1;
  margin-top: 2em;
  margin-right: 2em;
  margin-left: 2em;
  padding-right: 2em;
  padding-left: 2em;
}

.content__project-room-enter{
  flex:1;
  margin-top: 2em;
  margin-right: 2em;
  margin-left: 2em;
  padding-right: 2em;
  padding-left: 2em;
}

/*3rd level -> CV information container (upper .content__cv-recursive-ladder)*/
.cv-information-container{
  padding-right: 1.2em;
  padding-left: 1em;
}

/*4th level -> Optional classes of CV (upper .cv-information-container)*/
.expandible-item-expanded, .expandible-item-collapsed, .deaf-item, .reference-item{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 0.2em;
  padding-top: 0.5em;  
  padding-bottom: 0.5em;  
}

.expandible-item-expanded, .expandible-item-collapsed:hover{
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
}

.expandible-item-expanded{
  background-color: rgba(0, 0, 0, 0.5);
}

.reference-item:hover{
  cursor: help;
  background-color: rgba(0, 0, 0, 0.05);
}

/*3rd level -> Technologies event Button (upper .content__techonologies)*/
.technologies{
  cursor: pointer;
  padding-right: 1.2em;
  padding-left: 1em;
  padding-top: 0.5em;  
  padding-bottom: 0.5em;  
}

/*4th level -> Technologies (event button) (upper .techonologies)*/
.technologies__technologies-canvas{
  height: 85%;
  width:100%;
}

.technologies__technologies-canvas p {
  position: absolute;
  overflow: hidden;
  background-color: #ec4b01;
  border: solid 2px ;
  padding: 0.5em;
  border-radius: 0.7em;
}

.technologies__technologies-canvas p:hover {
  cursor: none;
}

/*3rd level -> Enter the project room event button (upper .content__techonologies-visualization)*/
.enter-project-room{
  cursor: pointer;
  padding-right: 1.2em;
  padding-left: 1em;
  padding-bottom: 0.5em;  
}

/*4th level -> Enter the project room container (upper .content__techonologies-visualization)*/
.enter-the-project-room__button-container{
  height: 10em;
  position: relative
}

.button-container__enter-button{
  color: #000;
  font-size:1.2em;
  margin: 0;
  position: absolute;
  width: 9em;
  height: 3em;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border-radius:1.5em
}

.button-container__enter-button:hover{
  cursor: pointer;
  background-color:  rgb(200, 200, 200);
  border: solid 3px;
  border-color:rgb(230, 230, 230);
  box-shadow: 5px #888888;
  outline: none;
}

.navbar {
  /*position: absolute;*/
  overflow:auto;
  padding: 20px;
  display: flex;
  align-items: center;
  width:50%;
  min-width: 500px;
  margin: 0 auto;
  border-bottom: 2px solid #f2f2f2;
  left:25%
}

.navbar h1 {
  color: #fff;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #fff;
}

.project-room--about-the-project-modal{
  position: absolute;
  top: 10%;
  left: 70%;
  overflow: hidden;
  padding: 2em;
  max-height: 60%;
  overflow-y: auto;
}

h1, h2, h3 {
  padding: 0.2em;
}





















