@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: "Quicksand";
  color: white;
}

body{
  margin:0;
  padding:0;
  height: 100%;
  width: 100%;
  background-color: rgb(60, 90, 50);
}

span{
  padding-left: 1em;
  font-size: 1.2em;
}


#root{
  align-items: center;
  justify-content: center;
}

/*1st level -> Main content object (upper root)*/
.content{
  display: flex;
  flex-direction: column;
}

/*2nd level -> Main content items (upper .content)*/
.content__cv-recursive-ladder{
  flex:1;
  margin-top: 2em;
  margin-right: 2em;
  margin-left: 2em;
  padding-top: 2em;
  padding-right: 2em;
  padding-left: 2em;
}

.content__techonologies-visualization{
  flex:1;
  margin-top: 2em;
  margin-right: 2em;
  margin-left: 2em;
  padding-right: 2em;
  padding-left: 2em;
}

.content__project-room-enter{
  flex:1;
  margin-top: 2em;
  margin-right: 2em;
  margin-left: 2em;
  padding-right: 2em;
  padding-left: 2em;
}

/*3rd level -> CV information container (upper .content__cv-recursive-ladder)*/
.cv-information-container{
  padding-right: 1.2em;
  padding-left: 1em;
}

/*4th level -> Optional classes of CV (upper .cv-information-container)*/
.expandible-item-expanded, .expandible-item-collapsed, .deaf-item, .reference-item{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 0.2em;
  padding-top: 0.5em;  
  padding-bottom: 0.5em;  
}

.expandible-item-expanded, .expandible-item-collapsed:hover{
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
}

.expandible-item-expanded{
  background-color: rgba(0, 0, 0, 0.5);
}

.reference-item:hover{
  cursor: help;
  background-color: rgba(0, 0, 0, 0.05);
}

/*3rd level -> Technologies event Button (upper .content__techonologies-visualization)*/
.technologies-event-button{
  cursor: pointer;
  /*background-color: rgba(0, 0, 0, 0.2);*/
  padding-right: 1.2em;
  padding-left: 1em;
  padding-top: 0.5em;  
  padding-bottom: 0.5em;  
}


















